
#root {
  background-color: #FEFAE0;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #003049;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.whole{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #0e5988;
}

a{
  text-decoration: solid;
  color: #669BBC;
}

