body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ADC178, #ADC178);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.states-container {
  background: #F0EAD2;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
}

h2 {
  color: #6C584C;
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.region-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.region-buttons button {
  flex: 1;
  margin: 3px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.region-buttons button.active {
  background: #6C584C;
  color: white;
  font-weight: bold;
}

.state-list {
  list-style: none;
  padding: 0;
}

.state-list li {
  background: #f8f8f8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  border-left: 4px solid #6C584C;
}

.no-results {
  color: red;
  text-align: center;
}

.count-text {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}